{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Forgot password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter your email address and we will send you a
                link to reset your forgotten password.
            </small>
        </div>

        <button class="btn btn-primary">Asl for reset password</button>
    {{ form_end(requestForm) }}
{% endblock %}
