{% extends 'base.html.twig' %}

{% block title %}Snowtricks - forgot password{% endblock %}

{% block main %}
<br><br><br>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <br>
            <br>
            <br>
            <br>
            <h2 class="tricks-modal-title text-secondary mb-0 text-center">forgot password</h2>
            <br><br>
            <div class="form-floating border">

                {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_start(requestForm) }}

                {{ form_row(requestForm.username, {
                label: 'Username',
                attr : {'class': 'form-control'}
                }) }}

                <br>
                <div>
                    <small>
                        Enter your username and we will send you a
                        link to reset your forgotten password.
                    </small>
                </div>
                <br>

                <button class="w-50 btn btn-lg btn-info">Ask for reset password</button>

                {{ form_end(requestForm) }}

            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
</div>
</div>
{% endblock %}