header {
  /* min-height: 1110px; */
  max-height: 800;
  overflow: hidden;
}

/*make staying the section on the bottom of the page*/
section.copyright {
  z-index: 2;
  /* position: fixed; */
  padding: 25px 0;
  bottom: 0;
  width: 100%;
}

.scroll-to-tricks {
  margin-bottom: 50px;
}

#navbarResponsive>ul>li.separator {
  color: white;
}

.home-background {

  background-repeat: no-repeat;
  background-position-x: center;
  width: auto;
  height: auto;
  background-image: url("../assets/background/yann-allegre-8FG9tt8qZ-8-unsplash.png") !important;
  background-color: white;
  background-size: cover;
  z-index: 10;
}

.border {
  padding: 30px;
}

.btn-secondary {
  color: #fff;
  background-color: red;
  border-color: red;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #00aaaf;
  border-color: #009da2;
}

.displayNone {
  display: none;
}

.pink {
  color: #e83e8c;
}

/* for register and forgot password  */
#signin>div>div>div>div>div>div>form>a {
  /*  color: #1f2d41; */
  color: #e83e8c;
  text-decoration: underline;
}

/* for register and forgot password  */
div.readyAccount a {
  /*  color: #1f2d41; */
  color: #e83e8c;
  text-decoration: underline;
}

/* link card */
div>div>div>div>a {
  color: #1f2d41;
  text-decoration: underline;
  background-color: transparent;
}

/* to place slogan */
div.placement {
  height: 450px;
}

h1#slogan {
  margin-left: auto;
  margin-right: auto;
  width: 10em
}

.font-size30 {
  font-size: 30px;
}

.arrow-up {
  position: absolute;
  right: 1%;
}

/* icon tricks of the bottom 
.bi-arrow-up-square-fill {
  color: #7aadc1;
}*/

/*ok green*/

#absolute {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.visually-hidden {
  visibility: hidden;
}

/*div.col-md-2:nth-child(*) > div:nth-child(*) > div:nth-child(*) > div:nth-child(*)*/
div.col-md-2 {
  min-width: 225px !important;
  align-items: center;
  justify-content: center;
}

/* only 5 column */
div.col-md-2.col-lg-2.mb-5 {
  margin: 1px;
}

footer {
  z-index: 2;
  /* position: fixed; */
  padding: 25px 150;
  bottom: 0;
  width: 100%;
}

.container .row {
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

/******************/
ul .footerDown {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li .footerDown {
  margin-left: 2px;
  float: left;
  /*pour IE*/
}

ul li a footerDown {
  display: block;
  float: left;
  width: 100px;
  background-color: #6495ED;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  border: 2px solid;
  /*pour avoir un effet "outset" avec IE :*/
  border-color: #DCDCDC #696969 #696969 #DCDCDC;
}

ul li a:hover .footerDown {
  background-color: #D3D3D3;
  border-color: #696969 #DCDCDC #DCDCDC #696969;
}

.logoTop {
  height: 70px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* TO GO DOWN */
.chevron-down {
  color: #1f2d41;
  position: absolute;
  right: 1%;
  bottom: 10%;
  padding: 25px 150;
}

.slogan {
  height: 80vh;
  /* Relative to 100% of the height of the viewport**/
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  color: black;
}

.separator {
  display: none;
}

@media (min-width: 992px) {
  .separator {
    display: block;
  }
}

ul {
  list-style-type: none;
}

li {
  color: grey;
}

.danger {
  color: rgb(255, 0, 30);
  background-color: rgb(240, 141, 152);
  border-color: rgb(240, 141, 152);
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}


.texteAreaHight{
  height:150px
}

/* error message */
div > form > div > ul > li {
  color: #e83e8c;
}

.mini{
  width : 15px;
  height : 150px;
}