{% extends 'base.html.twig' %}

{% block visualCentral %}
<header class="masthead text-white text-center home-background">
    <div class="container">

        <div class="slogan">
            <h1>Share yours tricks</h1>
            <H2class="pre-wrap masthead-subheading font-weight-light mb-0">Push your limits and share incredible
                experiences
                friends. </h2>
        </div>

        <!-- go down to the tricks -->
        <div>
            <a class="js-scroll-trigger d-block text-center  text-white rounded" href="#tricks">
                <i class=" bi bi-arrow-down-square-fill fa-3x chevron-down"></i>
            </a>
        </div>

</header>
{% endblock %}


{% block main%}
<section class="page-section tricks" id="tricks">
    <div>
        </di>
        <div class="container">
            <!-- tricks Grid Items -->
            <div class="row justify-content-center">

                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid"
                                    src="{{ app.request.getSchemeAndHttpHost() }}/assets/img/tricks/trick-example.png"
                                    alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 1</a>

                                    <span>
                                        <a href="#tricksDelete" class="float-right ml-1" data-toggle="modal">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>

                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid"
                                    src="{{ app.request.getSchemeAndHttpHost() }}/assets/img/tricks/trick-example.png"
                                    alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 2</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 3</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>

                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 4</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>

                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 5</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>

                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 6</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>

                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 7</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>

                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 8</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>

                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 9</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>

                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 10</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>

                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 11</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 12</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>

                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 13</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>

                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 14</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tricks Items-->
                <div class="col-md-2 col-lg-2 mb-5">
                    <div class="mx-auto">
                        <div class="d-flex align-items-center justify-content-center h-100 w-100">

                            <div class="card">
                                <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                                <div class="card-body">

                                    <a href="#" class="link-primary">Trick 15</a>
                                    <span>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-trash-fill iconTricks"></i>
                                        </a>
                                        <a href="#" class="float-right ml-1">
                                            <i class="bi bi-pencil-fill iconTricks"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- go up tricks Items js-scroll-trigger d-block text-center  text-white rounded -->
            <div>
                <a class="" href="#tricks">
                    <i class=" bi bi-arrow-up-square-fill fa-3x chevron-up"></i>
                </a>
            </div>
</section>
{% endblock %}