{% extends 'base.html.twig' %}

{% block main %}
        
<h1>Welcome Page snowTricks</h1>

<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">

<div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Jimmy Sweat</a>

    <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                    href="#page-top">Home </a>
            </li>

            <li class="py-3 px-0 px-lg-3 rounded js-scroll-trigger  separator">|</li>

            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                    href="#tricks">Tricks</a>
            </li>

            <li class="py-3 px-0 px-lg-3 rounded js-scroll-trigger separator">|</li>
            
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" data-toggle="modal"
                    href="#signin">Sign in</a>
            </li>

            <li class="py-3 px-0 px-lg-3 rounded js-scroll-trigger separator">|</li>

            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" data-toggle="modal"
                    href="#signup">Sign up</a>

            <!-- Sign outif allready connect (else ou....)-->
            <li class="visually-hidden py-3 px-0 px-lg-3 rounded js-scroll-trigger separator visually-hidden">|</li>
            <li class="visually-hidden nav-item mx-0 mx-lg-1 visually-hidden"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Sign out</a>
            </li>

        
        </ul>
    </div>
</div>
</nav>


<header class="masthead text-white text-center home-background">
<div class="container tt">
    <!-- Masthead Heading-->
    <h1>Share yours tricks</h1>
    <!-- Masthead Subheading -->
    <H2class="pre-wrap masthead-subheading font-weight-light mb-0">Push your limits and share incredible experiences friends. </h2>
</div>
</div>

<!-- go to the tricks -->
<div class="scroll-to-tricks">
<div> 
<a class="js-scroll-trigger d-block text-center text-white rounded font-size30" href="#tricks">
<i class="bi bi-arrow-down-square-fill"></i>
</a>
</div>
</header > 


<section class="page-section tricks" id="tricks">

<div class="container">

    <!-- tricks Grid Items -->
    <div class="row justify-content-center">

    <!-- tricks Items--> 
    <div class="col-md-2 col-lg-2 mb-5"> 
            <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="{{ app.request.getSchemeAndHttpHost() }}/assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                        <a href="#" class="link-primary">Trick 1</a>

                            <span>
                        <a href="#tricksDelete" class="float-right ml-1" data-toggle="modal">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
        
         <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="{{ app.request.getSchemeAndHttpHost() }}/assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 2</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
        
         <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 3</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
        
         <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 4</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
        
         <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 5</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
        
         <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 6</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
        
           <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 7</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
           <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 8</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
           <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 9</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
           <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 10</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
           <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 11</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
           <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 12</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
           <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 13</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
           <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 14</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
           <!-- tricks Items--> 
      <div class="col-md-2 col-lg-2 mb-5"> 
              <div class="mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100 w-100">

                    <div class="card">
                        <img class="img-fluid" src="assets/img/tricks/trick-example.png" alt="trick-name" />
                        <div class="card-body">

                         <a href="#" class="link-primary">Trick 15</a>
                            <span>
                               <a href="#" class="float-right ml-1">  
                            <i class="bi bi-trash-fill iconTricks"></i>
                            </a>
                            
                             <a href="#" class="float-right ml-1">  
                             <i class="bi bi-pencil-fill iconTricks"></i>
                            </a>
                         </span>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
      
      
      

<!-- tricks Modal-->
<div class="tricks-modal modal fade" id="tricksDelete" tabindex="-1" role="dialog"
aria-labelledby="#tricksModal0Label" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
                    class="fas fa-times"></i></span></button>
        <div class="modal-body text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- tricks Modal - Title-->
                        <h2 class="tricks-modal-title text-secondary mb-0">Delete the trick</h2>
                       
                        <!-- tricks Modal - Image <img class="img-fluid rounded mb-5"
                            src="" alt="" /> -->
                        <!-- tricks Modal - Text-->
                        <p class="mb-5">Are your sur to deteting this item ?
                        </p>
                        <button class="btn btn-secondary" href="#" data-dismiss="modal">
                        <i class="fas fa-times fa-fw"></i>Yes</button>
                                
                        <button class="btn btn btn-warning" href="#" data-dismiss="modal">
                        <i class="fas fa-times fa-fw"></i>No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- sign in -->
<div class="tricks-modal modal fade" id="signin" tabindex="-1" role="dialog"
aria-labelledby="#tricksModal0Label" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
         class="fas fa-times"></i></span></button>
        <div class="modal-body text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- tricks Modal - Title-->
                        <h2 class="tricks-modal-title text-secondary mb-0">Login</h2>

                        <br> <br> <br>
                             <form>
                                     <div class="form-floating">
                                        <label for="floatingInput">User Name</label>
                                        <input type="text" class="form-control" id="floatingInput" placeholder="My user tricks-name">
                                        </div>
                                         <br>

                                    <div class="form-floating">
                                        <label for="floatingPassword">Password</label>
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                    </div>

                                    <br><br>

                                    <div class="checkbox mb-3">
                                      <label>
                                        <input type="checkbox" value="remember-me"> Remember me
                                      </label>
                                    </div>


                                <button class="w-100 btn btn-lg btn-info" type="submit">login</button>
                                    <br><br><br><br>

                                    <span>You don't have a account : </span><a href="#">Register </a>
                                    <br><br>
                                


                                    <a href="#">Forgot password ? </a>
                                    <br><br>    

                          </form>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- sign up -->
<div class="tricks-modal modal fade" id="signup" tabindex="-1" role="dialog"
aria-labelledby="#tricksModal0Label" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i
         class="fas fa-times"></i></span></button>
        <div class="modal-body text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!-- tricks Modal - Title-->
                        <h2 class="tricks-modal-title text-secondary mb-0">Registration</h2>

                        <br> <br> <br>

                        <form>
                                     <div class="form-floating">
                                         <label for="tricks-name">User Name</label>
                                        <input type="text" class="form-control" id="tricks-name" placeholder="My user tricks-name">
                                        </div>
                                         <br>

                                      <div class="form-floating">
                                        <label for="ricks-email">Email</label>
                                        <input type="email" class="form-control" id="tricks-email" placeholder="My user tricks-name">
                                    </div>
                                    <br>

                                    <div class="form-floating">
                                        <label for="floatingPassword">Password</label>
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                    </div>

                                    <br><br>

                                     <button class="w-100 btn btn-lg btn-info" type="submit">Create an account</button>

                                    <br><br><br>
                                    <div class = "readyAccount" data-dismiss="modal" data-toggle="modal">
                                     <a href="#signin">Already an account </a>
                                    </div>
                                    <br><br>   

                          </form>



                            

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




</section>
<div class="scroll-to-tricks">
<div class=""> 
<a class="js-scroll-trigger d-block text-right text-white rounded font-size30 px-3" href="#tricks">
   <i class="bi bi-arrow-up-square-fill"></i>
</a>
</div>



{% endblock %} {# body  #}



