{% extends 'base.html.twig' %}

{% block title %}Snowtricks - error{% endblock %}

{% block main %}
{{ include('fragments/logo.html.twig') }}
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2 class="tricks-modal-title text-secondary mb-0 text-center">Oooops, error 500</h2>
            <br><br>
            The request sent by the browser could not be processed for a reason that could not be identified.
            <br Checkout for any URL misspelling or <a href="{{ path('app_home') }}">return to the homepage</a>.
        </div>
    </div>
</div>

{% endblock %}